    <div class="main">

       <mat-toolbar color="primary">
            <span>EMPLOYEE MANAGEMENT SYSTEM</span>
        </mat-toolbar>

        <form>
        <div class="form">
            <div class="form1">
              <img   src="../../../assets/admiinlogin.jpg">
            <img src="../../../assets/EmpLogin.jfif" >
          
            <button class="btn" routerLink="/login">Admin</button>
            <button class="btn"  routerLink="/employeelogin">Employee</button>
        </div>

        </div>
    </form>


    </div>


