    <div class="main">

        <mat-toolbar color="primary">
            <span>EMPLOYEE MANAGEMENT SYSTEM</span>
        </mat-toolbar>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form">
            <h2>Admin Login</h2>
            
            <mat-form-field class="form-cd-rm" appearance="outline">
                <mat-label>Email</mat-label>
                <input style="color: white;" matInput placeholder="Enter email" formControlName="email">
                <mat-error>enter your email</mat-error>
            </mat-form-field>

            <mat-form-field class="form-cd-rm" appearance="outline">
                <mat-label>Password</mat-label>
                <input style="color: white;" matInput placeholder="Enter password" formControlName="password">
                <mat-error>enter your password</mat-error>
            </mat-form-field>

    

            <button class="btn">Login</button>
            <button class="btn" routerLink="/home">close</button>
        </div>
    </form>


    </div>
