<div class="main">
    <p>
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon routerLink="/home">home</mat-icon>
            </button>
            <span>EMPLOYEE MANAGEMENT SYSTEM</span>

            <span class="example-spacer"></span>
            <button class="btn" mat-raised-button color="accent" routerLink="/employeelogin">LogOut</button>
        </mat-toolbar>
    </p>

    <mat-accordion fxLayout="row" fxLayoutAlign="center center">
        <mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    EMPLOYEE PROFILE
                </mat-panel-title>
                <mat-panel-description>
                    {{panelOpenState ? '' : ''}}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <p>EmployeeId : {{employeeArray.employeeId}}</p>
            <p>FirstName : {{employeeArray.firstName}}</p>
            <p>LastName : {{employeeArray.lastName}}</p>
            <p>Email : {{employeeArray.email}}</p>
            <p>Password : {{employeeArray.password}}</p>
            <p>EmpAddress : {{employeeArray.empAddress}}</p>
            <p>Gender : {{employeeArray.gender}}</p>
            <p>DateOfBirth : {{employeeArray.dateOfBirth}}</p>
            <p>Position : {{employeeArray.position}}</p>
            <p>Salary : {{employeeArray.salary}}</p>
            <p>PhoneNumber : {{employeeArray.phoneNumber}}</p>

        </mat-expansion-panel>
    </mat-accordion>

</div>