.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(../../../assets/photo.webp);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    height: 80px;
    font-size: 36px;
    line-height: 37px;
    letter-spacing: -0.005em;
    font-weight: 600;
    font-style: normal;
}

.btn {
    width: 110px;
    height: 40px;
    background: #ff4081;
    border: none;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    margin-left: 8px;
}

.btn:hover {
    background: #fff;
    color: #ff7200;
}

.btn a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.mat-form-field+.mat-form-field {
    margin-left: 8px;
}

mat-expansion-panel {
    border: 2px solid red;
    width: 50%;
    background-color: #ff4081;
}

.box {
    height: 80%;
    display: flex;
    justify-content: center;
}

mat-panel-title {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.013em;
    font-weight: 600;
}

p {
    font-size: 24px;
    line-height: 39px;
    letter-spacing: 0.012em;
    font-weight: 400;
    font-style: normal;
}